{% extends 'base.html.twig' %}

{% block title %}Lemon Interactive Project{% endblock %}

{% block body %}
    <h1>Enregistrer sa position</h1>

    {{ include('account/_form.html.twig') }}

{% endblock %}
